# Поддерживаем последние 2 версии браузеров
last 2 versions

# Браузеры с долей рынка выше 1%
> 1%

# Исключить браузеры, которые больше не поддерживаются (dead)
not dead

# Исключить Internet Explorer 11
not ie 11

# Для более стабильной работы на iOS и Safari
iOS >= 12
Safari >= 12
