@use 'variables' as vars;

.ad-card {

  width: 18.75rem;
  height: 22.5rem;
  box-shadow: 0 1px 6px vars.$color-shadow;
  border-radius: vars.$ad-border-radius;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 32px 0 rgba(59, 130, 246, 0.6);
  }

  &-image {
    width: 100%;
    height: 15rem;
    display: block;
    border-radius: vars.$ad-border-radius;
    object-fit: cover;
  }

  &-body {
    display: flex;
    flex-direction: column;
  }

  &-title {
    margin: vars.$ad-margin-title;
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 133%;
    text-decoration: none;
    color: vars.$color-blue;
  }

  &-price {
    margin: vars.$ad-margin-text;
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 133%;
  }

  &-location, &-date {
    margin: vars.$ad-margin-text;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 143%;
    color: vars.$color-gray;
  }
}
