@use 'variables' as vars;
@use 'buttons';

@use 'header';

@use 'catalog';
@use 'ad-card';

@use 'footer';

.container {
	margin: 0 auto;
	max-width: vars.$container-max-width;
}

@media (max-width: 900px) {
  .ad-card {
    flex: 1 1 calc(50% - 16px); /* Две карточки в ряд */
  }
}

@media (max-width: 500px) {
  .ad-card {
    flex: 1 1 100%; /* Одна карточка в ряд */
  }
}
